// *{
//     outline: 1px solid red;
// }



.contactHeader{
    position: relative;
    h1{
        font-size: 80px;
        position: absolute;
        bottom: -70px;
    }
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    height: 60vh;
}

.contactBox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    background-color: white;
    padding: 30px;
    align-content: center;
}
.contactBox2{
    width: 60%;
  
}
.contactContainer{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}


form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

textarea{
    resize: none;
    height: 250px;
    border: none;
    margin: 20px 0;
    padding: 20px;
}

.box1Text p{

    padding: 5px;
}

.contactTop{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.contactBottom{
    display: flex;
    flex-direction: column;

}
.contactInfo{
    background-color: #f0efed;
}
.fab{
    color: #f6a823;
    font-size: 30px;
    margin-right: 10px;
}
.field{
    width: 100%;
    height: 60px;
}
input{
    border: none;
    height: 50px;
    padding: 20px;
    width: 100%;
    
}


@media (max-width: 940px) {
    .contactTop{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .contactContainer{
        flex-direction: column;
    }
    .contactBox1{
        width: 100%;

    }

    .contactBox2{
        width: 100%;
    }
}
@media (max-width: 768px){

    .contactHeader{

        h1{
            font-size: 50px;
            bottom: -50px;
        }
    }
}
@media (max-width: 480px) {
    
    .contactHeader{

        h1{
            font-size: 40px;
            bottom: -40px;
        }
    }
}