@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blogHeader {
  position: relative;
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  height: 60vh;
}
.blogHeader nav {
  background-color: #f6a823;
}
.blogHeader h1 {
  font-size: 80px;
  position: absolute;
  bottom: -70px;
}

h2 {
  font-family: "roboto";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 42px;
  letter-spacing: 1px;
}

h4 {
  padding-top: 10px;
  text-transform: uppercase;
  font-family: "roboto";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
}

.wrapper {
  width: 80%;
}

.blogContainer {
  background-color: #f0efed;
  padding: 80px 0;
}

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.flexChild1 {
  width: 30%;
}

.flexChild2 {
  width: 60%;
}

.blogger, .comment1, .comment2 {
  border-bottom: 10px solid #f6a823;
}

.blogPortrait, .recentPost, .blogger, .comment1, .comment2 {
  background-color: white;
  padding: 30px;
}

.recentPost {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recentPost ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}
.recentPost li {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.recentPost ul li::before {
  content: "•";
  color: #f6a823;
  margin-right: 10px;
  font-size: 15px;
}

.blogPortrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.comment1, .comment2 {
  width: 100%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.para {
  width: 100%;
}

.commentImg {
  width: 50%;
}

.comment1 img, .comment2 img {
  width: 80%;
}

.para p {
  padding: 0;
}

em {
  color: #285E64;
}

@media (max-width: 940px) {
  .flexParent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .flexParent .flexChild1 {
    width: 100%;
  }
  .flexParent .flexChild2 {
    width: 100%;
  }

  .comments {
    margin-top: 50px;
  }

  .blogPortrait img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .comment1, .comment2 {
    width: 100%;
    margin: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 30px;
    letter-spacing: 3px;
  }
}
.contactHeader {
  position: relative;
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  height: 60vh;
}
.contactHeader h1 {
  font-size: 80px;
  position: absolute;
  bottom: -70px;
}

.contactBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  background-color: white;
  padding: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contactBox2 {
  width: 60%;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

textarea {
  resize: none;
  height: 250px;
  border: none;
  margin: 20px 0;
  padding: 20px;
}

.box1Text p {
  padding: 5px;
}

.contactTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactInfo {
  background-color: #f0efed;
}

.fab {
  color: #f6a823;
  font-size: 30px;
  margin-right: 10px;
}

.field {
  width: 100%;
  height: 60px;
}

input {
  border: none;
  height: 50px;
  padding: 20px;
  width: 100%;
}

@media (max-width: 940px) {
  .contactTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactBox1 {
    width: 100%;
  }

  .contactBox2 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contactHeader h1 {
    font-size: 50px;
    bottom: -50px;
  }
}
@media (max-width: 480px) {
  .contactHeader h1 {
    font-size: 40px;
    bottom: -40px;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  h1 {
    font-size: 50px;
  }
}
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/* Colors */
/* Black: #2c2c2c | Dark-grey-blue: #285e64 | Orange-yellow: #f6a823 | Grey: #4f4f4f | Accent: #05afc1 |  Rust Red: #a82706 | White-shade: #f0efed */
/* H1 Heading Text (Blog, Get in Touch) ; Lora Bold, 80px, line height: 92px, letter spacing: 0px

    H2 Heading Text (Who is Sophie, Sophies Journey): Roboto, Bold, 42px. letter spacing 1px

    H3 Heading Text (Sophies favourite things, Photo, Why): Roboto, Bold, 32px. letter spacing 1px

    H4 Heading Text (About Sophie, Recent Posts): Roboto, Bold, 24px. letter spacing 1px

    H5 Heading Text 24: Roboto, Bold, 24px. letter spacing 1px, rgb 246 246 246

    Button Text: Roboto, Bold, 20px. letter spacing 1px, line height 32px, center

    Menu Text (Home, About): Roboto, Bold, 20px. letter spacing 1px line height 29px, Right

    Body Text: Roboto, Regular, 20px. letter spacing 0px line height 32px
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "roboto" "sans serif";
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 32px;
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 20px 0;
}

h2 {
  font-family: "roboto" "sans serif";
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-family: "roboto" "sans serif";
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}

h4 {
  font-family: "roboto" "sans serif";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
}

h5 {
  font-family: "roboto" "sans serif";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  color: #f6f6f6;
}

button {
  font-family: "roboto";
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
  background-color: #05afc1;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}

a {
  color: #2c2c2c;
}

.dev {
  color: #f6a823;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
i.fa-bars {
  visibility: hidden;
}

nav {
  font-family: "roboto";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 29px;
  text-transform: uppercase;
  color: #2c2c2c;
}

nav p {
  font-family: "lora";
  font-size: 35px;
  padding: 10px;
}

nav span {
  color: #f0efed;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul p {
  font-weight: 700;
  text-transform: uppercase;
}

li {
  list-style: none;
  margin: 15px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

header {
  background-color: #f6a823;
  height: 100%;
}

h1 {
  font-size: 150px;
  font-weight: 700;
  font-family: "lora";
  text-transform: uppercase;
  position: relative;
}

.headerText img {
  width: 200px;
  position: absolute;
  top: -120px;
  left: -60px;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.circleText {
  width: 200px;
}

.images img {
  width: 450px;
  /* padding: 10px; */
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

/* ABOUT */
.about {
  background-color: #f0efed;
}

.aboutContent {
  width: 80%;
  padding: 100px 0;
}

.aboutContent h2, .journeyText h2 {
  font-family: "roboto";
  font-weight: normal;
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* BLOG */
.blog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
  margin: 30px 0;
}

.box1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.image1, .image2 {
  width: 45%;
  margin: 0;
  position: relative;
}

.image1 img, .image2 img {
  width: 100%;
}

.image1 div {
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: #a82706;
  z-index: -1;
  top: 43px;
  /* left: -10%; */
  right: -30px;
}

.image2 div {
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: #f6a823;
  z-index: -1;
  top: 43px;
  left: 10%;
}

.blogText1, .blogText2 {
  width: 45%;
  margin: 0;
}

.blogText1 h2, .blogText2 h2 {
  font-family: "roboto";
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
}

.blogText1 {
  padding: 100px 0 0 0;
  /* padding-left: 20px; */
}

/* .blogText2{
    padding-bottom: 100px;
} */
.blogText2 {
  text-align: right;
}

/* FEATURES */
.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.feature {
  background-color: #f0efed;
}

.fas {
  background-color: #f6a823;
  border-radius: 50%;
  padding: 10px;
}

.fa-phone {
  font-size: 18px;
}

.Icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* width: 100%; */
  /* margin: 50px; */
}

.item {
  width: 45%;
  padding: 50px 0;
}

.itemText {
  padding-left: 10%;
}

.item h2 {
  padding: 0 20px;
  width: 100%;
}

.item h2 {
  font-family: "roboto";
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
}

/* SOPHIES JOURNEY */
.featuredimg {
  width: 100%;
  height: 300px;
}

.chairImage {
  height: 100%;
  width: 100%;
}

.journeyContent img {
  -webkit-box-shadow: 12px 12px 2px 1px #f6a823;
          box-shadow: 12px 12px 2px 1px #f6a823;
  width: 100%;
}

.journeyContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.journeyText {
  width: 60%;
}

.journey {
  background-color: #f0efed;
  margin: 0;
  padding: 0;
}

/* GALLERY */
.gallery {
  width: 100%;
}

.galleryCard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  padding: 30px 0;
}

.galleryCard img {
  width: 30%;
}

/* FOOTER */
footer {
  background-color: #2c2c2c;
  color: #f0efed;
  text-align: center;
}

@media (max-width: 940px) {
  .aboutContent p {
    font-size: 18px;
  }

  .headerText h1 {
    font-size: 70px;
  }

  .headerText img {
    top: -80px;
    left: -60px;
  }

  .journeyImage img {
    width: 80%;
  }

  .visionDescription {
    margin: 20px 0 0 0;
  }

  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  i.fa-bars {
    visibility: hidden;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header nav {
    display: none;
  }

  i.fa-bars {
    visibility: visible;
    margin: 30px 0;
    cursor: pointer;
  }

  .aboutContent h2, .journeyText h2 {
    font-size: 35px;
  }

  .images img {
    width: 300px;
    -webkit-box-shadow: 20px 20px white;
            box-shadow: 20px 20px white;
  }

  .headerText img {
    width: 130px;
    position: absolute;
    top: -60px;
    left: -40px;
  }

  .headerText h1 {
    font-size: 60px;
  }

  body, .aboutContent p {
    font-size: 16px;
    line-height: 25px;
  }

  .aboutContent h2, .journeyText h2, .blogText1 h2, .blogText2 h2, .photo h2, .about2 h2, .intouch h2, .blogt h2 {
    font-size: 25px;
  }

  .image1 div, .image2 div {
    height: 20vh;
  }
}
/* Landscape phones and down */
@media (max-width: 500px) {
  .image1 div, .image2 div {
    height: 100%;
  }

  .aboutContent {
    width: 100%;
  }

  .aboutContent h2, .journeyText h2 {
    font-size: 30px;
  }

  .headerText h1 {
    font-size: 50px;
  }

  .headerContent {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .images img {
    width: 450px;
    -webkit-box-shadow: 20px 20px white;
            box-shadow: 20px 20px white;
  }

  body, .aboutContent p {
    font-size: 16px;
  }

  .image1, .image2 {
    width: 100%;
  }

  .box2 {
    gap: 100px;
  }

  .blog {
    width: 100%;
  }

  .box1, .box2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .box2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }

  .blogText1, .blogText2 {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item {
    width: 100%;
  }

  .journeyContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }

  .journeyText {
    width: 100%;
    text-align: center;
  }

  .journeyImage img {
    width: 100%;
  }

  .featuredimg {
    height: 100%;
  }

  .galleryCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .galleryCard img {
    width: 100%;
    margin: 10px;
  }

  h3 {
    font-size: 20px;
  }
}